$header-color: #1e90ff;

@mixin bluetheme {
  background: $header-color;
  color: white;
}

.jumbotron {
  @include bluetheme();

}

.footer {
  @include bluetheme();
  padding: 2rem;
}

.row-content {
  padding: 50px 0px 50px 0px;
  min-height: 400px;
}
